
{% macro modal_settings() %}
<!-- Settings -->
<div class="ui tiny modal" id="settings-dialog">
    <i class="close icon"></i>
    <div class="header"> Settings </div>
  
    <div class="ui form content">
      
      <div class="field">
        <label>Root detection model</label>
        <div class="ui dropdown selection" id="settings-active-model">
          <input type="hidden" name="active-model">
          <i class="dropdown icon"></i>
          <div class="default text">Segmentation model</div>
          <div class="menu">
            <!--<div class="item" data-value="1">model_1</div>
            <div class="item" data-value="0">model_2</div>-->
          </div>
        </div>
      </div>
  
      <div class="ui divider"></div>
      <div class="field">
        <label>Exclusion mask</label>
        <div class="ui toggle checkbox" id="settings-exclusionmask-enable">
          <input type="checkbox">
          <label>Enable detection of foreign objects (e.g. tape)</label>
        </div>
      </div>
  
      <div class="field" id="settings-exclusionmask-model-field" style="display:none">
        <label>Exclusion mask model</label>
        <div class="ui dropdown selection" id="settings-exclusionmask-model">
          <input type="hidden" name="active-model">
          <i class="dropdown icon"></i>
          <div class="default text">Exclusion mask model</div>
          <div class="menu">
            <!--<div class="item" data-value="1">model_1</div>
            <div class="item" data-value="0">model_2</div>-->
          </div>
        </div>
      </div>
  
      <div class="ui divider"></div>
      <div class="field" id="settings-tracking-model-field">
        <label>Root tracking model</label>
        <div class="ui dropdown selection" id="settings-tracking-model">
          <input type="hidden" name="active-model">
          <i class="dropdown icon"></i>
          <div class="default text">Root tracking model</div>
          <div class="menu">
            <!--<div class="item" data-value="1">model_1</div>
            <div class="item" data-value="0">model_2</div>-->
          </div>
        </div>
      </div>


      <div class="ui divider"></div>
      <div class="field" id="settings-gpu-field">
        <label>GPU</label>
        <div class="ui visible warning message"  id="settings-no-gpu-warning">
          <p>GPU not available</p>
        </div>
        <div id="settings-gpu-available-box">
          <div class="ui message" id="settings-gpu-name-info">
            <p>Available GPU: <span id="settings-gpu-name">XXX</span></p>
          </div>
          <div class="ui toggle checkbox" id="settings-gpu-enable">
            <input type="checkbox">
            <label>Enable processing on the GPU</label>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

  
     <div class="actions">
        <div class="ui negative button">
          Cancel
        </div>
        <div class="ui positive right labeled icon button" id="settings-ok-button">
          Save
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
</div>
{% endmacro %}


{% macro save_modal(app) %}
<!--Test modalllllllll-->
<div class="ui modal" id="save-modal" scrollable = "true">
  <div class="header">Model results</div>
  <div class="ui form content">
    <div>
      <div class ="ui segment form" style="margin-top:0px;" id = "evaluation-box" hidden>
          <p> Evaluation Box: Here we have maybe an error map, precission of both models and maybe side by side comparision of the starting point and final model?
          </p>
          <div class="ui button" id = "eval_img_button" onclick="{{app}}.Training.set_eval_images()" srcname = ''> Randomize evaluation example pair </div>
          <div class="ui two column grid">
              <div class="column">
                <div class="ui segment" style="text-align:center">
                      <p> Original image </p>
                  <img class="ui image" id = 'evaluated-image' draggable="false">
                </div>
              </div>
              <div class="column">
                <div class="ui segment" style="text-align:center">
                  <p > Error map </p>
                  <img class="ui image" id = 'errormap-image' draggable="false">
                </div>
              </div>
            </div>
      </div>        
  </div>



  <div class="ui segment form" id="training-new-modelname-field"> <!--style="display:none"--> 
    <div class="ui field">
      <!--<div class="ui divider"></div>-->
      <label>Save trained model</label>
      <div class="ui action input">
        <input type="text" placeholder="New model name" id="training-new-modelname">
        <div class="ui buttons">
          <button class="ui button" id="discard-model-button" onclick="{{app}}.Training.on_discard_model()">
            Discard Model
          </button>
          <div class="or"></div>
          <!--<button class="ui violet right labeled icon button" id="onclick-save-model" onclick="">-->
            <button class="ui positive button" id="onclick-save-model" onclick="{{app}}.Training.on_save_settings()">
            <i class="save icon"></i>
            Save Model
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endmacro %}

<!--varför kör denna två gånger när man submit??-->
{% macro on_save_model_modal(app) %}
<div class="ui modal" id="save-settings-modal">
<div class="header">Information about the model</div>
<div class="content">
  <form class="ui form" action='#' id="save-settings-form" onsubmit="return false"> <!---->
      
      <div class="field">
          <label>Name of the author:</label>
          <input type="text" name="training-author" placeholder="Name" id="training-author">
      </div>
      <div class="ui divider"></div>
      <div class="field">
        <label>Choose which terrestrial ecosystem the images are from:</label>
        <select class="ui search dropdown" id="ecosystem" name="ecosystem">
          <option value="">Type of terrestrial ecosystem</option>
          <option value="GE">Grassland Ecosystem</option>
          <option value="FE">Forest Ecosystem</option>
          <option value="DE">Desert Ecosystem</option>
          <option value="CE">Cropland Ecosystem</option>
          <option value="Ot">Other</option>
        </select>
      </div>

      <!--<div class="ui segment form">--> <!--style="display:none"--> 
      <div class="ui field">
        <!--<div class="ui divider"></div>-->
        <label>Save trained model</label>
        <div class="ui action input">
          <!--<input type="text" placeholder="New model name" id="training-new-modelname">-->
          <!--<div class="ui buttons">-->
            <button class="ui button" id="discard-model-button-settings" onclick="{{app}}.Training.on_discard_model()">
              Discard Model
            </button>
            <div class="or"></div>
            <!--<button class="ui violet right labeled icon button" id="onclick-save-model" onclick="">-->
              <button class="ui green submit button" id="onclick-save-model-settings" onclick="{{app}}.Training.on_save_model()"> <!--onclick="{{app}}.Training.on_save_model()-->
              <i class="save icon"></i>
              Save Model
            </button>
          <!--</div>-->
        </div>
      </div>
      <div class="ui error message" id="error-message-save-model"></div>
  </form>
</div>
</div>

<script>
$('#save-settings-form')
  .form({
    on: 'submit',
    fields: {
      author: {
        identifier  : 'training-author',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter the name of the author'
          }
        ]
      },
      dropdown: {
        identifier  : 'ecosystem',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please select a dropdown value'
          }
        ]
      },
    }
  })
;


//$(document).ready(function() {
 // $(document).on('submit', '#save-settings-form', function(event) {
    // do your things
    //event.preventDefault()
    //return false;
   //});
//});
</script>
{% endmacro %}


